

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Server ###
src/server/DeepSeatServer/Dockerfile.save
src/server/DeepSeatServer/src/main/resources/application-db.properties

### Spring ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!src/server/DeepSeatServer/**/src/main/**/bin/
!src/server/DeepSeatServer/**/src/test/**/bin/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
src/server/DeepSeatServer/.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Kotlin ###
# Compiled class file

# Log file

# BlueJ files

# Mobile Tools for Java (J2ME)

# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

### Gradle ###
.gradle
src/server/DeepSeatServer/**/build/
!src/server/DeepSeatServer/src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# Eclipse Gradle plugin generated files
# Eclipse Core
# JDT-specific (Eclipse Java Development Tools)

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider

# User-specific stuff
src/server/DeepSeatServer/.idea/**/workspace.xml
src/server/DeepSeatServer/.idea/**/tasks.xml
src/server/DeepSeatServer/.idea/**/usage.statistics.xml
src/server/DeepSeatServer/.idea/**/dictionaries
src/server/DeepSeatServer/.idea/**/shelf

# AWS User-specific
src/server/DeepSeatServer/.idea/**/aws.xml

# Generated files
src/server/DeepSeatServer/.idea/**/contentModel.xml

# Sensitive or high-churn files
src/server/DeepSeatServer/.idea/**/dataSources/
src/server/DeepSeatServer/.idea/**/dataSources.ids
src/server/DeepSeatServer/.idea/**/dataSources.local.xml
src/server/DeepSeatServer/.idea/**/sqlDataSources.xml
src/server/DeepSeatServer/.idea/**/dynamic.xml
src/server/DeepSeatServer/.idea/**/uiDesigner.xml
src/server/DeepSeatServer/.idea/**/dbnavigator.xml

# Gradle
src/server/DeepSeatServer/.idea/**/gradle.xml
src/server/DeepSeatServer/.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
src/server/DeepSeatServer/cmake-build-*/

# Mongo Explorer plugin
src/server/DeepSeatServer/.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
src/server/DeepSeatServer/out/

# mpeltonen/sbt-idea plugin
src/server/DeepSeatServer/.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
src/server/DeepSeatServer/.idea/replstate.xml

# SonarLint plugin
src/server/DeepSeatServer/.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
src/server/DeepSeatServer/.idea/httpRequests

# Android studio 3.1+ serialized cache file
src/server/DeepSeatServer/.idea/caches/build_file_checksums.ser

### Intellij Patch ###

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
src/server/DeepSeatServer/.idea/**/sonarlint/

# SonarQube Plugin
src/server/DeepSeatServer/.idea/**/sonarIssues.xml

# Markdown Navigator plugin
src/server/DeepSeatServer/.idea/**/markdown-navigator.xml
src/server/DeepSeatServer/.idea/**/markdown-navigator-enh.xml
src/server/DeepSeatServer/.idea/**/markdown-navigator/

# Cache file creation bug
src/server/DeepSeatServer/.idea/$CACHE_FILE$

# CodeStream plugin
src/server/DeepSeatServer/.idea/codestream.xml


/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/.gitignore
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/DeepSeat_project.iml
/src/server/DeepSeatServer/.gradle/
/src/server/DeepSeatServer/.idea/
/src/server/DeepSeatServer/.gradle/
/src/server/DeepSeatServer/.gradle/
