<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepseat.server.DeepSeatServer.dao.RoomMapper">

    <insert id="insertRoom" parameterType="Room">
        insert into room (roomName, apiKey, latitude, longitude)
        VALUES (#{roomName}, #{apiKey}, #latitude, #longitude);
    </insert>

    <select id="getRoomByApiKey" parameterType="string" resultType="Room">
        select *
        from room
        where apiKey = #{apiKey}
        order by roomID desc;
    </select>

    <select id="isRoomIDExists" parameterType="int" resultType="int">
        select count(*)
        from room
        where roomID = #{roomID};
    </select>

    <select id="getRoomByID" parameterType="int" resultType="Room">
        select *
        from room
        where roomID = #{roomID};
    </select>

    <select id="getRoomsByGeoPoint" parameterMap="double" resultType="Room">
        select *
        from room
        where #{longitude} between #{maxLon} and #{minLon}
          and #{latitude} between #{maxLat} and #{minLat};
    </select>

    <select id="getSeatCount" parameterType="int" resultType="list">
        select count(*)
        from seat
        where roomID = #{roomID};
    </select>

    <select id="getAvailableSeatCount" parameterType="int" resultType="int">
        select count(*)
        from observation
                 inner join seat
        where seat.roomID = #{roomID} and state = 0;
    </select>

    <select id="getRooms" resultType="Room">
        select *
        from room;
    </select>

    <update id="updateRoom" parameterType="Room">
        update room
        set roomName = #{roomName},
            apiKey   = #{apiKey}
        where roomID = #{roomID};
    </update>

</mapper>