<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepseat.server.DeepSeatServer.dao.SeatMapper">

    <insert id="insertSeat" parameterType="Seat">
        insert into seat (seatID, roomID, x, y, width, height)
        VALUES (#{seatID}, #{roomID}, #{x}, #{y}, #{width}, #{height});
    </insert>

    <select id="getSeats" parameterType="int" resultType="Seat">
        select *
        from seat
        where roomID = #{roomID};
    </select>

    <select id="getSeatByID" parameterType="int" resultType="Seat">
        select *
        from seat
        where seatID = #{seatID};
    </select>

    <select id="getSeatCount" parameterType="int" resultType="int">
        select count(*)
        from seat
        where roomID = #{roomID};
    </select>

    <delete id="deleteSeat" parameterType="int">
        delete
        from seat
        where seatID = #{seatID};
    </delete>

    <update id="updateSeat" parameterType="Seat">
        update seat
        set x      = #{x},
            y      = #{y},
            width  = #{width},
            height = #{height}
        where seatID = #{seatID};
    </update>

</mapper>